# Intellij
.idea/
*.iml
*.iws
out/
# Mac
.DS_Store

# Maven
log/
target/

# KeyPairs
private.key
public.key

$builds
*.jar

.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

attach.sh
dockerstop.sh
LoadImage.sh
runContainers.sh
setup.sh
testnet.sh
.dockerignore.txt
git-filter-repo.py
vdf-cli-old